.nav {
  .logo {
    width: 200px;
    display: inline-block;
    position: relative;
    left: 300px;
  }
  ul {
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 27, 139);
    float: right;
    position: relative;
    top: 40px;
    right: 280px;
    li {
      float: left;
      list-style: none;
    }
    li a {
      display: block;
      color: rgb(231, 208, 208);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover:not(.active) {
      background-color: rgb(134, 62, 33);
    }
    li a.active {
      color: white;
      background-color: rgb(134, 62, 33);
    }
  }
  background-color: rgb(27, 27, 139);
}
