.portafolio {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-top: 4rem;
  padding-bottom: 5rem;
  .titulo {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .primerasimg {
    .cabaña {
      width: 319.98px;
      height: 196.42px;
    }
    .pastel {
      width: 319.98px;
      height: 196.42px;
    }
    .feria {
      width: 319.98px;
      height: 196.42px;
    }
  }
  .segundasimg {
    .control {
      width: 319.98px;
      height: 196.42px;
    }
    .caja {
      width: 319.98px;
      height: 196.42px;
    }
    .submarino {
      width: 319.98px;
      height: 196.42px;
    }
  }
}
